[submodule "spec/fixtures/modules/stdlib"]
	path = spec/fixtures/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "spec/fixtures/modules/concat"]
	path = spec/fixtures/modules/concat
	url = https://github.com/ripienaar/puppet-concat
